body{
    padding: 0;
    margin: 0;
    background-image: url("../image/back.png");
    background-color: #181818;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: url('../image/csr.png'), auto;
}

.all{
    
    color: #fff;
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    opacity: 100%;
    font-family: 'Cantarell', sans-serif;
}

.top{
    background-color: #181818;
    color: #fff;
    opacity: 100%;
    margin: 0;
    height: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-width: 2px;
    border-color: #000;
}

.content{
    padding-top: 8vh;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: large;
    text-align: center;
}

#game{
    display: flex;
    padding: 10px;
    margin: 30px;
    border: solid;
    border-color: #4ec9ff;
    border-radius: 5px;
    background-color: #1f1f1f;
}

#title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

#desc{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

p{
    margin-top: auto;
    margin-bottom: auto;
}

#price{
    color: #4ec9ff;
    text-decoration:underline;
    text-decoration-color:#4ec9ff;
}

#cover{
    height: 300px;
    width: auto;
    border: solid;
    border-color: #fff;
    border-width: 2px;
    margin: 2px;
}

button{
    padding: 10px;
    background-color: #1f1f1f;
    color: #4ec9ff;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}

a{
  text-decoration-color: #1f1f1f;
  color: #fff;
}